<h1>Mis proyectos</h1>


  <section class=" productos pt-5 mt-5  bg-white text-dark">
    <div class="container">
           
      <div class="row justify-content-md-center">
        <div class="col-md-4 ">
          <div class="card" style="width: 18rem;">
            <%= image_tag 'viajes.jpg', class: 'profile_img' %>
            <div class="card-body">
              <h5 class="card-title">Aplicación Viajes</h5>
              <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Morbi leo risus</li>
              <li class="list-group-item">Porta ac consectetur ac</li>
            </ul>
            <div class="card-body">
                <a class="btn btn-primary" href="#" role="button">Ver más</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 ">
          <div class="card" style="width: 18rem;">
            <%= image_tag 'suricata.jpg', class: 'profile_img' %>
            <div class="card-body">
              <h5 class="card-title">Suricata Restaurant</h5>
              <p class="card-text">Iste natus error sit voluptatem accusantium</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Morbi leo risus</li>
              <li class="list-group-item">Porta ac consectetur ac</li>
            </ul>
            <div class="card-body">
              <a class="btn btn-primary" href="#" role="button">Ver más</a>
            </div>
          </div>
        </div>

        <div class="col-md-4 ">
          <div class="card mb-5" style="width: 18rem;">
            <%= image_tag 'iguana.jpg', class: 'profile_img' %>
            <div class="card-body">
              <h5 class="card-title">Iguana pages</h5>
              <p class="card-text">Doloremque laudantium, totam rem aperiam, eaque</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Morbi leo risus</li>
              <li class="list-group-item">Porta ac consectetur ac</li>
            </ul>
            <div class="card-body">
              <a class="btn btn-primary" href="#" role="button">Ver más</a>
            </div>
          </div>
        </div>

        <div class="col-md-4 ">
          <div class="card" style="width: 18rem;">
            <%= image_tag 'comidas.jpg', class: 'profile_img' %>
            <div class="card-body">
              <h5 class="card-title">Comidas</h5>
              <p class="card-text">Ipsa quae ab illo inventore veritatis et quasi architecto</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Morbi leo risus</li>
              <li class="list-group-item">Porta ac consectetur ac</li>
            </ul>
            <div class="card-body">
              <a class="btn btn-primary" href="#" role="button">Ver más</a>
              
            </div>
          </div>
        </div>

        <div class="col-md-4 ">
          <div class="card" style="width: 18rem;">
            <%= image_tag 'cuppon.jpg', class: 'profile_img' %>
            <div class="card-body">
              <h5 class="card-title">Cuppon</h5>
              <p class="card-text">Some quick example text to build on the card title and</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Morbi leo risus</li>
              <li class="list-group-item">Porta ac consectetur ac</li>
            </ul>
            <div class="card-body">
              <a class="btn btn-primary" href="#" role="button">Ver más</a>
              
            </div>
          </div>
        </div>

        <div class="col-md-4 ">
          <div class="card" style="width: 18rem;">
            <%= image_tag 'met.jpg', class: 'profile_img' %>
            <div class="card-body">
              <h5 class="card-title">Met</h5>
              <p class="card-text">Some quick example text to build on the card title and</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Morbi leo risus</li>
              <li class="list-group-item">Porta ac consectetur ac</li>
            </ul>
            <div class="card-body">
              <a class="btn btn-primary" href="#" role="button">Ver más</a>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>